Django==1.5
Twisted==11.1.0
-e git+https://github.com/metzlar/yams#egg=yams
argparse==1.2.1
ceres==0.10.0
django-tagging==0.3.2
ipdb==0.8
ipython==2.1.0
psutil==2.1.1
python-memcached==1.53
whisper==0.9.12
wsgiref==0.1.2
zope.interface==4.1.1
